#Options +FollowSymLinks
#IndexIgnore */*

RewriteEngine on

# if a directory or a file exists, use it directly
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
#RewriteRule . web/index.php
#RewriteRule ^/(.*)$ /web/index.php/$1

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . web/index.php

php_value date.timezone "Europe/Moscow"
php_value error_reporting 2039